{% extends "account/index.html" %}

{% block title %}رفع اللوحة{% endblock %}

{% block body %}
<!-- upload painting page -->
    <h2>رفع اللوحة</h2>
    <a href="{% url 'index' %}">الصفحة الرئيسية</a>
    <a href="{% url 'gallery' %}"> المعرض </a>
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">العنوان:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="painting">اللوحة:</label>
        <input type="file" name="painting" id="painting" required>
        <br>
        <label for="description">الوصف:</label>
        <textarea name="description" id="description"></textarea>
        <br>
        <button type="submit">رفع</button>
    </form>
{% endblock %}